body {
    background-color: cadetblue;
}

body .container h1 {
    font-size: 50px;
    text-align: center;
    color: inherit;
}

hr {
    background-color: inherit;
    border-left-width: 2px;
}

table {
    width:  100%;
    height: 100%;
    border-radius: 10px;
    color: inherit;
    background-color: #eee;
}

table h1 {
   padding-top: 10%;
   padding-left: 2%;
   padding-bottom: 2%; 
   font-size: 60px;
}

table p {
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 20px;
}

.container .navbar {
    margin-top: 2%;
}

.square {
    width: 35%;
    height: 500px;
    border: 1px solid white;
    background-color: white;
}